doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
  body
    .navbar.navbar-inverse.navbar-static-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') ENNA 
        .collapse.navbar-collapse
         
    .container
      block content

  form(method='POST')
    legend Reset Password
    .form-group
      label(for='password') New Password
      input.form-control(type='password', name='password', value='', placeholder='New password', autofocus=true)
    .form-group
      label(for='confirm') Confirm Password
      input.form-control(type='password', name='confirm', value='', placeholder='Confirm password')
    .form-group
      button.btn.btn-primary(type='submit') Update Password