<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Confirm Password Check | CodingNepal</title>

  <style>
    @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }

    html,
    body {
      display: grid;
      height: 100%;
      place-items: center;
      text-align: center;
      background: #f2f2f2;
    }

    .container {
      background: #fff;
      padding: 20px 30px;
      width: 420px;
      border-radius: 5px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }

    .container header {
      padding-top: 5px;
      font-size: 25px;
      font-weight: 600;
      line-height: 33px;
      color: rgb(4, 160, 250);
    }
  </style>
</head>

<body>
  <div class="container">
    <header>Votre mot de passe <br>a été changer avec succé</header>

  </div>

</body>

</html>